fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
alembic
pydantic-settings
sentence-transformers
qdrant-client
pdfminer.six
python-dotenv
google-generativeai
networkx
spacy
rapidfuzz
numpy
scipy
scikit-learn